<div class="row">
    <div class="article">
        <div class="stats">
            <div class="value">
                {{ article.votes }}
            </div>
            <div class="label">
                Points
            </div>
        </div>
        <div class="info">
            <div class="title">
                <a href="{{ article.link }}">{{ article.title }}</a>
            </div>
            <div class="meta">({{ article.domain() }})</div>
            
            
            <ul>
                <li><a href="#" (click)="voteUp()">&uarr; upvote</a></li>
                <li><a href="#" (click)="voteDown()">&darr; downvote</a></li>
            </ul>
        </div>
    </div>
</div>